<!DOCTYPE html>
<html lang="en">

<head>
  <title>CompanyPage</title>
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="margin-left: 30mm; margin-right: 30mm;">
    <section id = "nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="navbar-brand" href="#">Grabajob</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/company_{{company_detail.company_id}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/company_profile_{{company_detail.company_id}}">Company Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/postjob_{{company_detail.company_id}}">Post a job</a>
                </li>
              </ul>
              
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </section>

    <div class="card" style="float:left; margin-right: 4%; width:25%">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h3 class="card-title">{{company_detail.company_name}}</h3>
        <p></p>
        <img src="https://cdn.pixabay.com/photo/2016/04/10/21/53/distorted-1320866_960_720.png" class="img-fluid rounded-start" alt="...">
        <p></p>
        <h5> Location: {{company_detail.location}}</h5>
        <h5> Department: {{company_detail.department}}</h5>
        <h5> Rating: {{company_detail.rating}} stars</h5>
        <h5> Awards: {{company_detail.awards}}</h5>
        <h5> About Us: {{company_detail.about_us}}</h5>
        <h5> Contact: {{company_detail.contact}}</h5>
        <h5> Email: {{company_detail.email}}</h5>
        <h5> Website: {{company_detail.website}}</h5>
      </div>
    </div>



   
    <div class="container" style="margin-left: 10%;">
      <h3>Jobs you Posted</h3>
      {% for job in jobs %}
        <div class="card mb-3" style="max-width: 70%; float:right; margin-right: 10%;">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ job.job_title }}</h5>
                <p class="card-text">{{ job.company }}</p>
                <p class="fa fa-map-marker" style = "margin-right: 50mm;"><small class="text-muted" style="margin-left: 2mm;">{{ job.location }}</small></p>
                <p class="fa fa-pencil" style = "margin-right: 50mm;"><small class="text-muted" style="margin-left: 2mm;">{{ job.experience_required }}</small></p>
                <p class="fa fa-money" style = "margin-right: 50mm;"><small class="text-muted" style="margin-left: 2mm;">{{ job.pay_rate }}</small></p>
                <p class="fa fa-child" style = "margin-right: 50mm;"><small class="text-muted" style="margin-left: 2mm;">{{ job.no_positions }}</small></p>
                <p class="fa fa-suitcase" style = "margin-right: 50mm;"><small class="text-muted" style="margin-left: 2mm;">{{ job.prerequisites }}</small></p>

                <h4>Job Description</h4>
                <p class="card-text">{{job.description}}</p>
                {% if job.job_status == "OPEN" %}
                  <h4>Status: Open</h4>
                {% else %}
                  <h4>Status: Closed</h4>
                {% endif %}
                <br>
                <a href="/applications/{{ job.job_id }}" class="btn btn-primary">See applicants</a>
                <a href="/delete_job_{{company_detail.company_id}}/{{job.job_id}}" class="btn btn-primary">Delete job listing</a>
                {% if job.job_status == "OPEN" %}
                  <a href="/update_job_status_{{company_detail.company_id}}_{{job.job_id}}_{{0}}" class="btn btn-primary">Close applications for this job</a>
                {% else %}                
                  <a href="/update_job_status_{{company_detail.company_id}}_{{job.job_id}}_{{1}}" class="btn btn-primary">Open applications for this job</a>
                {% endif %}
                <br>

              </div>
            </div>
          </div>
        </div>
      {% endfor %}

</body>




</html>