{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-3" style="margin-bottom: 25px;">
            <h3 class="text-center">Profile Settings</h3>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://cdn.pixabay.com/photo/2016/04/10/21/53/distorted-1320866_960_720.png"><div class="font-weight-bold">Username</div><span class="text-black-50">user@gmail.com</span><span> </span></div>
        </div>
        <div class="col-md-4 border-right">
            <div class="p-3 py-5">

                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Company Name</label><input type="text" class="form-control" placeholder="enter company name" value=""></div>
                    <div class="col-md-12"><label class="labels">About Us</label><input type="text" class="form-control" value="" placeholder="about your company"></div>
                    <div class="col-md-12"><label class="labels">Departments</label><input type="text" class="form-control" placeholder="enter departments seperated by /, eg. IT/HR" value=""></div>
                    <div class="col-md-12"><label class="labels">Location</label><input type="text" class="form-control" placeholder="enter location" value=""></div>
                    <div class="col-md-12"><label class="labels">Awards & Recognitions</label><input type="text" class="form-control" placeholder="enter any awards awarded to your company" value=""></div>

                    <div class="col-md-12"><label class="labels">Contact</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Website</label><input type="text" class="form-control" placeholder="enter website" value=""></div>
                </div>
                <div class="row mt-3">
                </div>
                <div class="mt-5 text-center" style="padding: 20px;"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <!--
        <div class="d-inline col-md-4 border-right">
            <div class="p-3 py-5">
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Experience</label><input type="text" class="form-control" placeholder="enter experience" value=""></div>
                    <div class="col-md-12" style="margin-top: 24px;"><button class="btn"><i class="fa fa-plus" ></i></i> Add experience</button></div>
                    <div class="col-md-12 text-center" style="margin: 20px;"><button class="btn btn-primary profile-button" type="button">Update Experience</button></div>

                </div>

            </div>
        </div>
        -->
    </div>
</div>


{% endblock %}