{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-3" style="margin-bottom: 25px;">
            <h3 class="text-center">Profile Settings</h3>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><div class="font-weight-bold">Username</div><span class="text-black-50">user@gmail.com</span><span> </span></div>
        </div>


        <div class="col-md-4 border-right custom-form">
            <form class="customform" method="post" action="">

                              

                <div class="row mt-2">
                    <div class="col-md-6 form-group">
                        <div ><label class="labels" for="fname" >First Name</label><input type="text" name="fname" class="form-control" placeholder="first name" value="{{user_detail.firstname}}"></div>
                    </div>

                    <div class="col-md-6 form-group">
                        <div ><label class="labels" for="lname">Last Name</label><input type="text" name="lname" class="form-control" value="{{user_detail.lastname}}" placeholder="last name"></div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6 form-group">
                        <div ><input type="hidden" name="key" class="form-control" value=1></div>
                    </div>  
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="age">Age</label><input type="text" name="age" class="form-control" placeholder="enter age" value="{{user_detail.age}}"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="gender">Gender</label><input type="text" name="gender" class="form-control" placeholder="enter gender" value="{{user_detail.gender}}"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="eth">Ethinicity</label><input type="text" name="eth" class="form-control" placeholder="enter ethinicity" value="{{user_detail.ethnicity}}"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="address">Address</label><input type="text" name="address"  class="form-control" placeholder="enter address" value="{{user_detail.address}}"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="mobile">Mobile Number</label><input type="text" name="mobile" class="form-control" placeholder="enter phone number" value="{{user_detail.contact}}"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="email">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="{{user_detail.email}}" disabled="disabled" ></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="education">Education</label><input type="text" name="education" class="form-control" placeholder="education" value="{{user_detail.education}}"></div>
                    </div>    
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 form-group">
                        <div ><label class="labels" for="state">State/Region</label><input type="text" name="state" class="form-control" value="{{user_detail.state}}" placeholder="state"></div>
                    </div>    
                </div>
                <div class="mt-5 text-center" style="padding: 20px;"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>

            </form>
        </div>

        <div class="d-inline col-md-4 border-right custom-form">
            <form class="customform" method="post" action="">
                <h4 style="margin-left: 5%">Experiences</h4>
                {% for exp in experiences %}
                <div class="row mt-3">
                    <div class="col-md-6 form-group"><input type="text" class="form-control" placeholder="enter experience" value="Start Year: {{exp[2]}}" disabled="disabled"></div>
                    <div class="col-md-6 form-group"><input type="text" class="form-control" placeholder="enter experience" value="End Year: {{exp[3]}}" disabled="disabled"></div>
                    <div class="col-md-12 form-group"><input type="text" class="form-control" placeholder="enter experience" value="Company: {{exp[1]}}" disabled="disabled"></div>
                    <div class="col-md-12 form-group"><input type="text" class="form-control" placeholder="enter experience" value="Details: {{exp[4]}}" disabled="disabled"></div>
                    <p style="margin-left: 15%;">----------------------------------------------------------------</p>
                </div>
                {% endfor %}

                <div class="row mt-3">
                    <h5 style="margin-left: 5%">Add New Experience</h5>
                    <div class="col-md-6 form-group"><input type="text" class="form-control" placeholder="Start Year" name="start" value=""></div>
                    <div class="col-md-6 form-group"><input type="text" class="form-control" placeholder="End Year" name="end" value=""></div>
                    <div class="col-md-12 form-group"><input type="text" class="form-control" placeholder="Company" name="company" value=""></div>
                    <div class="col-md-12 form-group"><input type="text" class="form-control" placeholder="Your Role" name="exp" value=""></div>
                    <div class="col-md-6 form-group">
                        <div ><input type="hidden" name="key" class="form-control" value=1></div>
                    </div>  
                    <div class="col-md-12 text-center " style="margin: 20px;"><button class="btn btn-primary profile-button" type="submit">Update Experience</button></div>
                </div>
            </form>

        </div>

    </div>
</div>


{% endblock %}